.header{
    position: relative;
	height: 100%;
	width: 220px;
	z-index: 500;
	border: none;
	background-color: #008cff;
	color: white;
	padding: 0;
}

.header a{
    text-decoration: none;
}

.header .pull-left{
    padding-top: 0px;
    padding-bottom: 20px;
    background: #b7dfff;
    width: 220px;
    z-index: 600;
}

.logo-wrapper{
    display: block;
    width: 220px;
    height: auto;
    justify-items: center;
    margin: auto;
    padding-bottom: 50px;
}

.logo-wrapper img{
    position: relative;
    top: 20px;
    left: 20px;
    height: 50px;
    width: auto;
    padding-bottom: 20px;
    display: block;
}

.header .pull-right{
    position: fixed;
	height: 50px;
    top: 50px;
	right: 10px;
	display: flex;
	align-items: center;
}

.container-params{
	position: relative;
	margin-right: 10px;
    display: inline-block;
}

.btn-params{
    width: 50px;
    height: 50px;
    background-color: #008cff;
    border-radius: 30px;
    border: 4px solid #b7dfff;
}

.params-menu{
    position: absolute;
    top: 55px;
    right: -19px;
    max-height: 0px;
    width: 250px;
    background-color: #008cff;
    transition: max-height 1s ease-in-out;
    overflow: hidden;
}

.header .menu{
    display: block;
    width: 220px;
    height: 750px;
    padding-top: 50px;
    background: #b7dfff;
}

.welcome-search{
    display: flex;
    width: 220px !important;
    padding-top: 30px;
}

.welcome-search .search-wrapper button{
    right: 2px;
    font-size: 10px;
    background: transparent;
}

.header .categ{
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 220px;
}

.header .categ span{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    padding-top: 7px;
    border-bottom: 5px solid #008cff;
    color: #707070;
}

.header .categ span:not(.categ-open):hover,
.header .categ span[active="1"]{
    background-color: #008cff;
    color: white;
    border-radius: 30px;
    transition: 0.7s;
}

.header .categ span.categ-open{
    background-color: #008cff;
    color: white;
    border-radius: 30px;
}

#categ-home{
    margin-top: 50px;
}
.apps-categ{
	display: none;
}

.apps-categ-aff{
	display: block;
}

#menu-apps{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 220px;
    height: 100%;
    width: 0;
    transition: width 0.25s ease-out;
    background: #008cff;
    color: white;
    overflow: auto;
}

#menu-apps.aff{
    width: 300px;
}

#menu-apps h2{
    color: white;
    margin: 50px 20px;
    height: 50px;
}

#switchmenu {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 220px;
    background-color: #008cff;
    cursor: pointer;
    transition: width 0.25s ease-out;
}